html, body {
  position: relative;
  height: 100%;
  width: 100%;
}



.jumbotron{
  margin-bottom: 0rem;
  padding: 0rem 0rem;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
}

.navbar {
  padding: 0.1rem;
}

.page-header {
  margin-left: 5%;
}

.nav-item a {
  font-size: 2em;
  padding: 0;
}

.fa-github {
  color: #444444;
}

.fa-linkedin {
  color: #007BB6;
}


.fa-reddit {
  color: #444444;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

@media screen {
        body {
          font-style: bold;
          font-family: 'Poppins', sans-serif;
        }

        .name_heading {
            font-family: 'Euphoria Script', cursive;
        }

        .connect, .ask, .get {
          font-size: 1.6em !important;
          font-family: 'Encode Sans Condensed', sans-serif;
        }

        .para {
          font-size: 15px;
          opacity: 0.5;
        }
}

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
      .fa-github {
        padding-left: 20px;
      }
      .fa-linkedin {
        padding-left: 20px;
      }
      .fa-reddit {
        padding-left: 20px;
      }
}



/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
/*figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}*/
/*--- Bootstrap Padding Fix --*/
[class*="col-sm-6"] {
    padding: 0rem;
}

[class*="col-sm-6 prem"] {
    padding-right: 0rem; 
}

[class*="col-sm-4"] {
    padding: 3rem;
}

[class*="col-sm-5"] {
    padding: 10%;
}


.btn-primary {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

/* A something new */

/*div#cards {
  background-color: #efefef !important;
}

.col-md-4 {
  float: right;
  align-items: center;
}

.single-blog {
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
  padding: 10px;
  margin-top: 30px;
  background-color: #fff;
}

.single-blog img {
  width: 100%;
}

.blog-meta {
  font-size: 20px;
  margin-bottom: 2px;
}

.single-blog span {
  float: right;
  font-size: 12px;
  color: cornflowerblue;
}
*/

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
.seperator {
  margin-top: 7vh;
  margin-bottom: 7vh;
  border-right: 1px solid #A8A8A8;
}


/****************************************************/

.animated-icon3 {
width: 30px;
height: 20px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

.animated-icon3 span {
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 0px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}


.animated-icon3 span {
background: #000;
}

.animated-icon3 span:nth-child(1) {
top: 0px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
top: 10px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
top: 20px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
top: 0px;
left: 8px;
}

.animated-icon3.open span:nth-child(2) {
width: 0%;
opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
top: 21px;
left: 8px;
}
