html, body {
	height: 100vh;
	width: 100%;
	margin: 0;
	background-color: #fff;
	padding: 0vh;
}

.heading {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 4%;
	font-size: 6vh;
	color: #000;
}

.web-image {
	padding-left: 4%;
	padding-top: 4%;
}

.col-md-5 {
	padding-left: 20%;
}

.ml-form {
	margin-left: 0%;
}

.card {
	background-color: #e9ecef;
}

.seperator {
  margin-top: 7vh;
  margin-bottom: 7vh;
  border-right: 1px solid #fff;
}

@media screen {
        body {
          font-style: bold;
          font-family: 'Poppins', sans-serif;
        }
}

.ml-form-heading-1 {
	font-size: 1.1em !important;
	font-style: bold;
}

.fa-github {
	font-size: 2em;
	color: #444444;
}

.git-link {
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 20%;
}

.small-text {
	font-size: 0.3em !important;
	opacity: 0.5;
	margin-bottom: 0;
}
